<div>
	<h2>Área admin</h2>


	<table class="jumbotron">
	<tr>

			
		<th>Questao:</th>
		<th><input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite a questão" ></input> </th>
	</tr>
	<tr>
		<th>Alternativa correta 
		</th>
		<th>Alternativas
		</th>	
	</tr>
	<td><input type="checkbox" ng-model="contato.selecionado"></input></td>
	<td><input type="checkbox" ng-model="contato.selecionado"></input></td>
	<td><input type="checkbox" ng-model="contato.selecionado"></input></td>
	<td><input type="checkbox" ng-model="contato.selecionado"></input></td>
	<th>
		Alternativas
	</th>

	</table>
</div>