<div>
	<h2>Área admin</h2>
{{questions}}

	<form name="addQuestionForm">
		<table class="jumbotron">

		<th>Questao:</th>
		<th><input class="form-control" type="text" ng-model="question.questionText" placeholder="Pergunta da questão" ng-required="true" ></input> </th>
		<tr>
			<tr>
				<td><input  type="radio" name="rightQuestion"  ng-model="question.correctAlternative" value="1" ng-required="true"></input></td>
				<td><input class="form-control" type="text" ng-model="question.alternative1" placeholder="Primeira alternativa" ng-required="true"></input></td>
			</tr>
			<tr>
				<td><input type="radio" name="rightQuestion" ng-model="question.correctAlternative" value="2" value="1" ng-required="true"></input></td>
				<td><input class="form-control" type="text" ng-model="question.alternative2"placeholder="Segunda alternativa" ng-required="true"></input></td>
			</tr>
			<tr>
				<td><input type="radio" ng-model="question.correctAlternative" value="3" ng-required="true"></input></td>
				<td><input class="form-control" type="text" ng-model="question.alternative3" placeholder="Terceira alternativa" ng-required="true"></input></td>
			</tr>
			<tr>
				<td><input type="radio" ng-model="question.correctAlternative" value="4" ng-required="true"></input></td>
				<td><input class="form-control" type="text" checked=1 ng-model="question.alternative4"  placeholder="Quarta alternativa" ng-required="true"></input></td>
			</tr>
		</tr>
	</form>
	</table>
	<div class="">
		<a class="btn btn-primary btn-xl page-scroll" ng-disabled="addQuestionForm.$invalid" ng-click="adicionarQuestao(question)">Adicionar Questão</a>
		<hr>
		<a href="#/admin/listQuestions">Visualizar Quesões</a>
	</div>

	</div>
