<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Por ser a primeira, o CFC faz questão de preservar a qualidade de ensino e garantir a segurança do aluno. É nesse momento que a tradição encontra a inovação. Estamos sempre à frente no aprendizado, investindo em novas frotas de carros e treinamento de funcionários.</p>
                <a class="btn btn-default btn-xl" ng-click="callQuizPage()">Comece agora!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Aqui você aprende!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow fadeInUp text-primary" data-wow-delay=".5s"></i>
                    <h3>Direção defensiva</h3>
                    <p class="text-muted">Aprenda a dirigir defensivamente com nossos profissionais.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-suitcase wow fadeInUp text-primary" data-wow-delay=".5s"></i>
                    <h3>Dirigir tranquilamente</h3>
                    <p class="text-muted">Aqui você aprende a fazer viajens longas com tranquilidade!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-up wow fadeInUp text-primary" data-wow-delay=".5s"></i>
                    <h3>Vire um ótimo condudor!</h3>
                    <p class="text-muted">Nossos profissionais o tornarão um ótimo contutor!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow fadeInUp text-primary" data-wow-delay=".5s"></i>
                    <h3>Fazemos com amor</h3>
                    <p class="text-muted">Amamos criar ótimos condutores!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1º Habilitação
                            </div>
                            <div class="project-name">
                                Carro e Moto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Adição de Categoria 
                            </div>
                            <div class="project-name">
                                Carro e Moto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mudança de Categoria
                            </div>
                            <div class="project-name">
                                Ônibus
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Renovação da Habilitação
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Transferência da Habilitação
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Emissão da PID - 
                            </div>
                            <div class="project-name">
                                permissão internacional para dirigir
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Estude Legislção pelo nosso Quiz!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">CLique aqui para começar!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gostou da gente?</h2>
                <hr class="primary">
                <p>Entre em contato conosco e agende suas aulas. <br>De segunda a sexta, das 08:00 as 20:00.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+55 (35) 3471-1754 </p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">autoescola@autoescola.com</a></p>
            </div>
        </div>
    </div>
</section>

