<div>
<h2>{{quizName}}</h2></div>
<table class="jumbotron">
		<tr>
			<th></th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
		</tr>
		<tr>
			<th></th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
		</tr>
		<tr>
			<th></th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
		</tr>
		<tr>
			<th></th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
			<th>Serial</th>
		</tr>
</table>

<body id="page-top">